# AWS Region for deployment
REGION=ap-south-1

# S3 Bucket Name for static hosting (stage will be appended, e.g. -dev)
# If left blank, it will default to 'aws-reg-app-frontend'
S3_BUCKET_NAME=aws-reg-app-frontend
